DATABASE_URL=
DATABASE_URL_UNPOOLED=

# Optional local Postgres fallback
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=squad-app-backend
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=postgres

PORT=3000

AUTH_USERNAME=
AUTH_PASSWORD=
