DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=squad-app-backend

# try combination of username and password if it doesn't work
DATABASE_USERNAME=root
DATABASE_PASSWORD=
# DATABASE_USERNAME=admin
# DATABASE_PASSWORD=admin

PORT=3000

AUTH_USERNAME=username
AUTH_PASSWORD=password
